* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(
    to right bottom,
    #3fbfef,
    #90ccf9,
    #c2dafc,
    #e7ebfd,
    #ffffff
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  align-self: flex-start;
  position: absolute;
  top: 12%;
  left: 40%;
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  min-height: 40rem;
  gap: 1.25rem;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 35px;
}

.form-container {
  flex: 1;
  padding: 20px;
}

.img-container {
  flex: 1;
  margin-right: 40px;
}

.img-container img {
  max-width: 100%;
}

img {
  width: 400px;
}

#name,
#email,
#telephone,
#password,
#passwordConfirm {
  width: 20rem;
  border-radius: 8px;
  border: 1px solid #999;
  min-height: 2.5rem;
  margin-top: 8px;
  padding: 5px 25px;
}

#btnSubmit {
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  background-color: #00c9b7;
  color: white;
  margin-top: 20px;
  min-height: 2.5rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  padding: 15px;
  border: none;
}

#btnSubmit:hover {
  background-color: #009c8e;
}

@media only screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  img {
    width: 300px;
  }
}
